<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.runcom.jiazhangbang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_interface"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.runcom.jiazhangbang.welcome.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58a3f9d6b27b0a332e001956" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="wgcwgc" />

        <activity android:name="com.runcom.jiazhangbang.mainActivity.MainActivity" >
        </activity>
        <activity
            android:name="com.runcom.jiazhangbang.Chinese.Chinese"
            android:icon="@drawable/ic_come_back"
            android:parentActivityName="com.runcom.jiazhangbang.mainActivity.MainActivity" >
        </activity>
        <activity
            android:name="com.runcom.jiazhangbang.listenText.ListenText"
            android:icon="@drawable/ic_come_back"
            android:parentActivityName="com.runcom.jiazhangbang.Chinese.Chinese" >
        </activity>
        <activity
            android:name="com.runcom.jiazhangbang.listenWrite.ListenWrite"
            android:icon="@drawable/ic_come_back"
            android:parentActivityName="com.runcom.jiazhangbang.Chinese.Chinese" >
        </activity>
        <activity
            android:name="com.runcom.jiazhangbang.setting.PlaySetting"
            android:icon="@drawable/ic_come_back"
            android:parentActivityName="com.runcom.jiazhangbang.listenWrite.ListenWrite" >
        </activity>
        <activity
            android:name="com.runcom.jiazhangbang.reciteText.ReciteText"
            android:icon="@drawable/ic_come_back"
            android:parentActivityName="com.runcom.jiazhangbang.Chinese.Chinese" >
        </activity>
    </application>

</manifest>
